
tryAlert.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

tryAlert.xcodeproj/project.xcworkspace/xcuserdata/lirichard.xcuserdatad/UserInterfaceState.xcuserstate

tryAlert.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcschemes/tryAlert.xcscheme

tryAlert.xcodeproj/xcuserdata/lirichard.xcuserdatad/xcschemes/xcschememanagement.plist
